

#Contents of ~/.gitconfig

[user]
    name = Gurjeet Singh
    # To force user to add user.email per repository, comment or remove the following line
    #email = gurjeet@singh.im

	# Tell Git to _not_ guess my name and email based on `whoami` and `hostname`
	# Forces user to add user.email per repository
	useConfigOnly = true

[core]
    # Set the command line options to be used by 'less'
    #	F = Quit if one screen
    #	R = Use Raw Control Characters; useful for color output
    #	i = ignore case when searching, iff search pattern doesn't have uppercase letters
    #	X = disable termcap initialization and deinitialization;
    #			not using this causes screen to be cleared when using F option above
    #	x1,5 = Use tab size of 4 (=5-1)columns, but start at column 1;
    #       	becuase of the +/- indicators used by unified diff.
    pager = less -FRiXx1,5

[color]
	ui = auto

[alias]

    # Show all remote points with their URLs
    r = remote --verbose

	#See status of current repository
    st   = status
    stu  = status --untracked-files=normal
    stui = status --untracked-file=normal --ignored
    s    = stui # short form of above command, since it's my most used variant
                # of status command

    d     = diff
    dc    = diff --cached
    dh    = diff HEAD                  # Shows modified, as well as cached diff
    d-c    = diff          --color-words=.       # Diff at character boundaries
    d-w    = diff          --color-words
    dc-c   = diff --cached --color-words=.       # Diff at character boundaries
    dc-cw  = diff --cached --color-words
    dh-c   = diff HEAD     --color-words=.       # Diff at character boundaries
    dh-cw  = diff HEAD     --color-words

    # Prefer to pipe the difftool output to `less` in the alias here (via the
    # shell invocation caused by `!` character), rather than in the `[difftool
    # ...]` configuration option of each tool, because if done that way that
    # causes the `less` command to show each file's diff separately, which in
    # turn requires that we use the `q` key to exit `less` at the end of diff
    # of each file. For example, if there are 7 files that have changes,
    # invoking `less` as part of `[difftool ...]` config option, the `less`
    # command  will be invoked 7 times, and hence we will have to hit `q` key
    # up to 7 times to be able to see the diff of next file in the changed set.
    # Additionally, if `--quit-if-one-screen` is in effect (say via the
    # environment variable $LESS) then the changed files that have not enough
    # different lines, those files' diff just scrolls past the screen
    # without waiting for the user to review/okay it.
    #
    # Both of these problems can be solved by piping the output of all
    # different files as one stream to `less` here in the alias.
    #
    # Previously, instead of piping output to `less` here, we used the
    # following at the end of [difftool ...] option's `cmd` attribute, but that
    # caused the 2 problems described above.
    #
    # [alias]
    # dt = difftool --tool difftastic
    # [difftool "difftastic"]
    # cmd = difft --color always $LOCAL $REMOTE | less --raw-control-chars

    # Use DiffTastic to see  language-sensitive diffs
    dt = ! git difftool --tool difftastic | less
    # Perform case-Insensitive comparison
    di = ! git difftool --tool idiff      | less

	# Check-in the code; commit the index contents.
    ci = commit -v

	# Check-in the code; first add modified files to index, and then commit the
	# index contents.
    cia = commit -v -a

	# Usage:
	#  git forkdiff <forked from branch> <forked branch> [git-diff-options]
	#
	# Example:
	#    git forkdiff origin/master my_forked_branch --stat
	#
	# It uses git-merge-base to determine the fork-point (the commit that is
	# common to both the branches) and does a git-diff between that commit and
    # the second branch.
    #
    # Note that Git now has an equivalent command builtin. The above example
    # can be rewritten as the following, using the builtin feature; note the 3
    # dots (...):
	#
	# Example:
	#    git diff origin/master...my_forked_branch --stat
	#
    #
	forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -

	#Check-out
    co = checkout
    cp = cherry-pick

    l   = log
    ll  = log -p
    lt  = log trunk..
    llt = log -p trunk..
    lm  = log master..
    llm = log -p master..

    b = branch

    f  = fetch
    fa = fetch --all

    # Push all branches to all remotes.
    # keep the old implementation as a comment, just in case.
    #pa = !sh -c 'for R in $(git remote)\; do for B in $(git branch --format="%(refname:short)")\; do git push $R $B\; done\; done'
    pa = "!for R in $(git remote); do git push $R --all; done;"

	#Launch gitk in background; shows commits leading up to current commit
    k = !sh -c 'gitk $@ &' -

	#Launch gitk in background; shows _all_ commits in the repository.
    ka = !sh -c 'gitk --all $@ &' -

    l1   = log -1
    lp   = log    --patch
    l1p  = log -1 --patch
    l1f  = log -1         --pretty=fuller
    lpf  = log    --patch --pretty=fuller
    l1pf = log -1 --patch --pretty=fuller

    dag-options = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%ar%C(reset)%C(auto)%d%C(reset)%n%s' --date-order

	# Show a DAG of the repo; can take additional parameter. Use additional `--all` param to show all branches and tags.
    dag     = dag-options
    dag-all = dag --all

	# Show a summary of the DAG of the repo; shows only those commits that have a tag or a bannch label.
	dag-summary     = dag --simplify-by-decoration
	dag-summary-all = dag-summary --all

	# Create a new worktree. Create a branch and a sibling directory with
	# matching names. The branch should inherit the tracking branch from the
	# current branch. The trailing `echo Done -` command in the chain is to
	# consume the commaind line parameters pasted at end by Git.
	ls-worktree = worktree list
	new-worktree = "! git branch --track=inherit \"$1\"		\
					&& git worktree add ../\"$1\" \"$1\"	\
					&& echo Done - "

	# Remove a worktree and its related branch. Unset the GIT_DIR env variable,
	# because that make the `git status` command to compare the worktree with
	# contents of that directory. Refuse if there are any modified or untracked
	# files in the worktree. Then delete the branch as well; this may fail if
	# the branch hasn't been merged into its tracking branch, so not using the
	# `--force` option is intentional.
	rm-worktree = "! unset GIT_DIR											\
					&& { pushd ../\"$1\" 2>/dev/null || { echo failed pushd $1; exit 1; }; }		\
					&& { [[ -z \"$(git status --porcelain --untracked-files=yes --ignored=no)\" ]] 	\
						 && echo git status is clean ; }					\
					   || { echo git status is NOT clean && exit 1 ; }		\
					&& git worktree remove \"$1\" && echo worktree removed	\
					&& popd >/dev/null										\
					&& git branch --delete \"$1\"							\
					&& echo Done - "

#Make Git use an external pager for git-status output
[pager]
	status = true

# Do not show untracked files when doing git-status
[status]
	showuntrackedfiles = no

[branch]
	autosetuprebase = always
[difftool "idiff"]
    cmd = diff --unified=3 --color=always --ignore-case $LOCAL $REMOTE
[difftool "difftastic"]
    cmd = difft --color always $LOCAL $REMOTE
[difftool]
	prompt = 0
[diff]
	tool = vimdiff
	algorithm = histogram
[color "diff"]
	whitespace = red reverse
[merge]
	log = true

[init]
    defaultBranch = master

[diff "odf"]
        binary = true
        textconv = odt2txt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Veeva-specific configuration
[pull]
	ff = only
[merge]
	ff = false
[core]
	hooksPath = .githooks
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
